@font-face {
  font-family: 'PressStart2P';
  src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
    --second-color:  #9a17ff;
    --accent-color1: #ff0084;
    --accent-color2: #ff9100;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'PressStart2P', monospace;
}

html{
    background-repeat:space;
    background-size:cover;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: black;
}
body{
    /* background:radial-gradient(circle at 20% 80%, rgba(139, 69, 191, 0.3) 0%, transparent 50%), radial-gradient(circle at 80% 20%, rgba(186, 85, 211, 0.3) 0%, transparent 50%), radial-gradient(circle at 40% 40%, rgba(75, 0, 130, 0.2) 0%, transparent 50%); */
    
}



header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 3px 3px 0 var(--accent-color1),
                -3px -3px 0 var(--accent-color2);
}

header h2{
    font-size: 48px;
    margin-top: 15px;
}

header h4{
    margin-top: 15px;
    font-size: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
}

.buttons *{
    background-color: transparent;
    padding: 10px 13px;
    color: white;
    border: 3px, solid;
    border-color: white;
    transition: ease-in-out all 0.3s;
    cursor: pointer;
}

.buttons button:hover{
    border-color: white;
    color:white;
    box-shadow: 5px 5px 0 var(--second-color),
    inset 5px 5px 0 var(--second-color);
    text-shadow: 0 0 10px var(--second-color);
    color:var(--accent-color1);
}



main{
    margin-top: 40px;
    margin-bottom: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.grid{
    box-sizing: content-box;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 25vw;
    gap: 20px;
    background-color: transparent;
    border: 5px;
    border-style:solid;
    border-color: white;
    padding: 20px;
    border-radius: 10px;
    transition: ease-in-out box-shadow 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.grid:hover{
    box-shadow: 0 0 20px var(--accent-color1),
    inset 0 0 20px var(--accent-color1);
    
}

.grid *{
    border: solid 3px;
    border-color: white;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.grid button:hover{
    box-shadow:  0px 0px 15px 0px var(--second-color),
                inset 0 0 15px var(--second-color);
}


.stat-box{
    position: fixed;
    left:0;
    transform: translateY(40%) translateX(100%);
}

.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    transition: opacity ease-in-out 0.3s;
}

.player-one-score,
.player-two-score,
.player-ties{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    color: white;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.stats p{
    margin-bottom: 5px;
}

.player-one-score, 
.player-two-score{

    color: var(--accent-color2);
}

.player-ties{

    color: var(--accent-color1);
}

.player-ties:hover{
    border-color: white;
    color:white;
    box-shadow: 5px 5px 0 var(--accent-color1),
    inset 5px 5px 0 var(--accent-color2);
    text-shadow: 0 0 10px var(--accent-color1);
}

.player-one-score:hover, 
.player-two-score:hover{
    border-color: white;
    color:white;
    box-shadow: 5px 5px 0 var(--accent-color2),
    inset 5px 5px 0 var(--accent-color1);
    text-shadow: 0 0 10px var(--accent-color2);
}

.change-name{
    display:none;
}